<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Starter Template for Slick Framework web site</title>

    <!-- Bootstrap core CSS -->
    {{ addCss('styles.css')|raw }}

</head>

<body>
<div class="full-content">
    {% if not authentication.isGuest() %}
        {% include 'elements/sidebar.twig' %}
    {% endif %}
    <header>
        {% block navigation %}
            {% include 'elements/navigation.twig' %}
        {% endblock %}
    </header>

        <main class="container">
            {% include 'flash/messages.twig' %}
            {% block mainView %}

            {% endblock %}
        </main>

    <footer>
    </footer>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{ addJs('jquery.min.js', '/js/vendor/jquery')|raw }}
{{ addJs('tether.min.js', '/js/vendor/tether')|raw }}
{{ addJs('fileinput.js', '/js/vendor/bootstrap-fileinput/js')|raw }}
{{ addJs('bootstrap.min.js', '/js/vendor/bootstrap')|raw }}
{{ addJs('theme.js', '/js/vendor/bootstrap-fileinput/themes/fa')|raw }}
{{ addJs('app.js', '/js')|raw }}
</body>
</html>