<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
        <button class="navbar-toggler" type="button" data-toggle="sidebar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
    </a>
    {% block navbar_menu %}
    <a class="navbar-brand logo" href="{{ url('home') }}">
        <img src="{{ url('../img/users-icon.png') }}" align="{{ translate('Users icon') }}">
    </a>
    <a class="navbar-brand" href="{{ url('home') }}">
        {{ translate('Users') }}
    </a>
    {% endblock %}

</nav>